{% extends 'layout.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block content %}
<div>
    {{   dump(cart)    }}
    {{   dump(result)   }}
    {{   dump(freightPrice)   }}
    {{   dump(freightData)   }}
</div>
{% endblock %}
