{% extends 'layout.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block content %}
<div>
    {{dump(session)}}
    {{dump(listItems)}}
    {{dump(customer)}}
    {{dump(shippingData)}}
</div>
{% endblock %}