{% extends 'layout.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
<div>
    
</div>
{% endblock %}