{% extends 'layout.html.twig' %}

{% block title %}Products checkout{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="turbo-visit-control" content="reload">
{% endblock %}

{% block content %}
<div>
    {{ dump(paymentData)}}
    <div data-controller="stripe" data-stripe-purchase-value="{{   paymentData   }}">
        <div id="checkout">

        </div>
    </div>

</div>
{% endblock %}