{% extends 'layout.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# // <script src="https://js.stripe.com/v3/"></script> #}
{% endblock %}

{% block content %}
<div>
    {{ dump(paymentData)}}
    <div data-controller="stripe" data-stripe-purchase-value="{{   paymentData   }}">
        <div id="checkout">

        </div>
    </div>

</div>
{% endblock %}