{% extends 'layout.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block content %}


<div class="example-wrapper">
    <h1>Please, identify yourself.</h1>

    {{ include('registration/_form.html.twig', {'button_label': 'Register'}) }}
</div>
{% endblock %}
