{% extends 'layout.html.twig' %}

{% block search_block %}


<turbo-stream action="replace" targets="#carousel">
    <template>

        <div class="mx-8 mt-2" data-controller="filter" data-action="productFilters:remove@window->filter#removeAll">
            <div class="flex justify-between px-4 pb-2">
                <twig:Labels />
        
                <button 
                    data-action="filter#toggle"
                    class="cursor-pointer px-6 text-2xl text-slate-100 bg-teal-900 transition ease-in-out delay-100 hover:bg-teal-600" 
                >Filters</button>
            </div>
            <div class="hidden" data-filter-target="body">
                <turbo-frame id="filter_options" src="/filter_options" loading="lazy">
                    Loading...
                </turbo-frame>
            </div>

        </div>

        <twig:ProductSearch/>

    </template>
</turbo-stream>

{% endblock %}
