{% extends 'layout.html.twig' %}

{% block search_block %}



<turbo-stream action="append" target="product_scroll" >
    <template>
        <div class="flex flex-wrap gap-4" >
            {% for product in paginator.currentPageResults %}
                <twig:Card :product="product"/>
            {% else %}
                <p>No products found.</p>
            {% endfor %}
        </div>
    </template>
</turbo-stream>

{% endblock %}