@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .carousel__button {
        @apply bg-teal-900 translate-x-6;
    }

    .category_neutral {
        @apply underline
    }

    .category_active {
        @apply underline text-amber-600
    }

    .category_chosen {
        @apply underline text-amber-600 text-opacity-50
    }

    .category_excluded {
        @apply line-through text-gray-600
    }
/* Customize the label (the check_box) */
.check_box {
    display: flex;
    position: relative;
    padding-left: 25px;
    padding-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check_box:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .check_box:hover input ~ .checkmark:before,
  .check_box:hover input ~ .checkmark:after {
    opacity: 0;
  }
  
  /* When the checkbox is checked, add a blue background */
  /* .include_box input:checked ~ .checkmark {
    background-color: #ccc;
  }

  .exclude_box input:checked ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:before,
  .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0.7;
  }
  
  /* Show the checkmark when checked */
  .check_box input:checked ~ .checkmark:before,
  .check_box input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .chosen_box .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border-color: black
    ;
    @apply border-solid;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  .excluded_box .checkmark:after, 
  .excluded_box .checkmark:before {
    left: 6px;
    top: 3px;
    height: 10px;
    width: 3px;
    @apply bg-teal-900;
  }


  .excluded_box .checkmark:after {
    transform: rotate(45deg);
  }
  .excluded_box .checkmark:before {
    transform: rotate(-45deg);
  }

    nav button:hover .check_box {
    display: flex; /* Visible on hover */
    }
    
    /* ... */
  }


