<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-neutral-100" >
        <header class="w-full bg-teal-700 dark:bg-gray-900">
            <div class="flex items-center justify-between px-8">
                <a href="{{ path('homepage')  }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Менеджер задач"/>
                </a>
                <div>
                    <ul class="flex flex-row items-center justify-center h-16 text-neutral-200">
                        <li >
                            <a href="/search" data-turbo-stream>Search</a>
                        </li>
                        <li class="ml-16">Shipping</li>
                        <li class="ml-16">Buy</li>
                        <li class="ml-16">Contact us</li>
                    </ul>
                    
                    <div class="w-full flex justify-center pb-4 min-w-[200px]">
                        <div class="w-full px-8">
                            <twig:Search />
                        </div>
                    </div>
                </div>
    
                <div class="text-neutral-200">
                    <a href="">Log in</a><a href="">Shopping cart</a>
                </div>
            </div>
            
        </header>

        {% block content %}

        {% endblock %}
    </body>
</html>
