<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-neutral-100">
        <header class="w-full bg-gray-900">
            <div class="flex items-center justify-between px-8">
                <a href="{{ path('homepage')  }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Менеджер задач"/>
                </a>
                <div>
                    <ul class="flex flex-row px-2 items-center justify-center h-16 text-neutral-200">
                        <li >Home</li>
                        <li class="ml-16">Shipping</li>
                        <li class="ml-16">Buy</li>
                        <li class="ml-16">Contact us</li>
                    </ul>
                    
                    <div class="w-full flex justify-center pb-4 min-w-[200px]">
                        <div class="w-full px-8">
                            <div class="relative">
                                <input
                                class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-3 pr-28 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                                placeholder="UI Kits, Dashboards..." 
                                />
                                <button
                                class="absolute top-1 right-1 flex items-center rounded bg-slate-800 py-1 px-2.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                type="button"
                                >
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2">
                                    <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
                                </svg>
                            
                                Search
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="text-neutral-200">
                    <a href="">Log in</a><a href="">Shopping cart</a>
                </div>
            </div>
            
        </header>

            {% block sidebar %}
                <div id="sidebar">
                    <ul>
                        <li>Servers</li>
                        <li>Storage</li>
                        <li>Network Equipment</li>
                        <li>Components</li>
                        <li>Others</li>
                    </ul>
                </div>
            {% endblock %}

        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
