{% extends 'layout.html.twig' %}

{% block content %}

    {# {{  render_esi(controller('App\\Controller\\ProductFilterController::getAllFilters', {brands: brands})) }} #}

    <div id="carousel" class="">    
        <twig:Carousel />
    </div>

    <div class="my-8">
        <twig:CardsShowcase :cards="recents"/>
    </div>


{% endblock %}