{% extends 'layout.html.twig' %}

{% block page_contents %}

    {# {{  render_esi(controller('App\\Controller\\ProductFilterController::getAllFilters', {brands: brands})) }} #}

    {{  dump(parents)   }}
    {{  dump(tree)  }}
    {{  dump(lastChildren)  }}

    <div id="carousel" class="">    
        <twig:Carousel />
    </div>



{% endblock %}