{% extends 'layout.html.twig' %}

{% block page_contents %}

    {# {{  render_esi(controller('App\\Controller\\ProductFilterController::getAllFilters', {brands: brands})) }} #}

    <div id="carousel" class="">    
        <twig:Carousel />
    </div>



{% endblock %}