{% extends 'layout.html.twig' %}

{% block content %}

    {# {{  render_esi(controller('App\\Controller\\ProductFilterController::getAllFilters', {brands: brands})) }} #}

    <div id="carousel" class="">    
        <twig:Carousel />
    </div>

    <div class="flex justify-center dark:text-neutral-200">
        <div class="bg-[url('/images/banner/banner-11.png')] bg-contain p-4 w-64 h-64">
            <div class="border-2 rounded-md p-8 gap-4 flex flex-col justify-center items-center m-auto h-full">
                <p><twig:ux:icon name="bi:hand-thumbs-up" class="w-8 h-8" /></p>
                <p class="font-[500] text-xl text-center">We Deliver Right</p>
            </div>
        </div>

        <div class="bg-[url('/images/banner/banner-2.png')] bg-contain p-4 w-64 h-64">
            <div class="border-2 rounded-md p-8 gap-4 flex flex-col justify-center items-center m-auto h-full">
                <p><twig:ux:icon name="bi:bell" class="w-8 h-8" /></p>
                <p class="font-[500] text-xl text-center">Online Around the Clock.</p>
            </div>
        </div>

        <div class="bg-[url('/images/banner/banner-31.png')] bg-contain p-4 w-64 h-64">
            <div class="border-2 rounded-md p-8 gap-4 flex flex-col justify-center items-center m-auto h-full">
                <p>
                    <twig:ux:icon name="bi:emoji-sunglasses" class="w-8 h-8" />
                </p>
                <p class="font-[500] text-xl text-center">Ready to Go</p>
            </div>
        </div>
    </div>

    <div class="my-8">
        <twig:CardsShowcase :cards="recents"/>
    </div>


{% endblock %}