{% extends 'layout.html.twig' %}

{% block page_contents %}
<main class="w-3/4">


    {{  render_esi(controller('App\\Controller\\ProductFilterController::getAllFilters', {brands: brands})) }}

    <twig:ProductSearch query="{{ query  }}" :includedCategories="categories" page="{{   page    }}"/>

    {# <h1>Not paginated rresults: </h1>
    <ul>
        {% for product in notPaginated %}
            <li><strong>{{  product.name   }}</strong></li>
        {% endfor %}
    </ul> #}

    <twig:Carousel />
    
</main>

{% endblock %}