{% extends 'base.html.twig' %}

{% block body %}

<div class="flex">

    <div class="w-1/4">
        {# <twig:Catalog :lastNodesChosen="categories"/> #}
        <twig:CatalogTree :treeMap="treeMap"/>
    </div>

    <main class="w-3/4 px-8">
        {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}