{% extends 'base.html.twig' %}

{% block content %}
<div class="flex">

    <twig:Catalog :lastNodesChosen="categories"/>

    <main class="w-3/4 px-8">
        {% block page_contents %}{% endblock %}
    </main>
</div>
{% endblock %}