{% extends 'base.html.twig' %}

{% block content %}
<div class="flex">

    <div class="w-1/4">
        {# <twig:Catalog :lastNodesChosen="categories"/> #}
        <twig:CatalogTree />
    </div>

    <main class="w-3/4 px-8">
        {% block page_contents %}{% endblock %}
    </main>
</div>
{% endblock %}