{% extends 'base.html.twig' %}

{% block content %}
<div class="flex">
    {{ dump(categories) }}
    <twig:Catalog :activeLastNodes="categories"/>

    {% block page_contents %}{% endblock %}
</div>
{% endblock %}