{% extends 'base.html.twig' %}

{% block body %}

<div class="flex">

    <div class="w-1/4 ml-4 shrink-0">
        <div class="bg-stone-900 bg-opacity-10 pt-2 pl-4 pr-2 rounded-br-lg">
            <div class="bg-zinc-50">
                <twig:CatalogTree class="p-4"/>
            </div>
            <div class="flex justify-center h-40 pt-4 overflow-hidden">
                <img class="h-40 object-contain" src="{{  asset('/images/reboot-guy-draw.png')}}" alt="">
            </div>
        </div>
    </div>

    <main class="w-3/4 px-8 dark:text-neutral-200">
        {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}