{% extends 'base.html.twig' %}

{% block body %}

<div class="flex">

    <div class="w-1/4 ml-4 shrink-0">
        <div class="bg-stone-900 bg-opacity-10 pt-2 pl-4 pr-2 pb-44 rounded-br-lg">
            <div class="bg-zinc-50">
                <twig:CatalogTree class="p-4"/>
            </div>
        </div>
    </div>

    <main class="w-3/4 px-8 ">
        {% block content %}{% endblock %}
    </main>
</div>
{% endblock %}