<div {{ attributes.defaults(stimulus_controller('buy')) }} class="flex">
    <!-- component html --> 
    <button data-action="buy#decr">-</button>

    <input
        type="number"
        value="1"
        min="1" 
        max="{{ product.amount }}"
        data-buy-target="input"
        data-stock-max="{{  product.amount  }}"
    />
    <button
    data-action="buy#incr"
    >+</button>
    <button
        data-action="buy#send"
    >
        Add to cart
    </button> 
</div>
