<div    {{ attributes.defaults(stimulus_controller('cards-snap')) }} class="align-center">
    <!-- component html -->
    <h2 class="font-[400] text-xl pl-14">Recently added products:</h2>
    <div class="flex justify-between items-center relative overflow-hidden">
        {# <div class="icon">
            <div class="arrow"></div>
          </div> #}
        <button class="absolute w-12 h-9 left-0" data-action="cards-snap#previous">
            <div class="arrow arrow_right h-1.5 bg-teal-900 shadow-md relative w-11/12"></div>
        </button>
        <div 
            data-cards-snap-target="container"
            class="relative snap-x scroll-smooth overflow-x-auto flex gap-4 mt-4 items-center w-5/6 ml-16">        

            {%  for card in cards.currentPageResults  %} 
                <twig:CardSnap :product="card"/>
            {%  endfor  %}
        </div>
        <button 
            class="absolute w-12 h-9 right-0" 
            data-action="cards-snap#next"
        >
            <div class="arrow arrow_left h-1.5 bg-teal-900 shadow-md relative w-11/12"></div>
        </button>
        {# <div class="absolute w-12 h-9 right-0">
            <div class="arrow arrow_left h-1.5 bg-teal-900 shadow-md relative w-11/12"></div>
        </div> #}
    </div>
</div>

{% macro placeholder(props) %}
    <div class="relative">
        <span class="loader"></span>
    </div>
{% endmacro %}