<div {{ attributes.defaults(stimulus_controller('carousel', { refreshInterval: 2500 })) }}>
    <div class="flex" data-action="mouseenter->carousel#prolong mouseleave->carousel#shorten">
        <div class="w-1/6">
            <div class="w-full dark:text-neutral-200 text-teal-900 ">
                <div class="p-2">
                    <button 
                    class="h-32 p-8 rounded-md border-y-4 border-l-4 carousel__label relative" 
                    data-carousel-target="button"
                    data-action="carousel#switch" 
                    data-carousel-index-param="0"
                    >Shipping offer </button>
                </div>
                <div class="p-2">
                    <button 
                    class="h-32 p-8 rounded-md border-y-4 border-l-4 carousel__label relative" 
                    data-action="carousel#switch" 
                    data-carousel-index-param="1"
                    data-carousel-target="button"
                    >ProLiant 360 G7 </button>
                </div>
                <div class="p-2">
                    <button 
                    class="h-32 p-8 rounded-md border-y-4 border-l-4 carousel__label relative" 
                    data-action="carousel#switch" 
                    data-carousel-index-param="2"
                    data-carousel-target="button"
                    >About us </button>
                </div>
            </div>
        </div>
    
        <div class="w-full">
            <div data-carousel-target="slide">
                <a href="">
                    <img src="{{ asset('images/carousel/delivery-en.png') }}" alt="Менеджер задач"/>
                </a>
            </div>
            <div data-carousel-target="slide">
                <a href="">
                    <img src="{{ asset('images/carousel/R630-en.png') }}" alt="Менеджер задач"/>
                </a>
            </div>
            <div data-carousel-target="slide">
                <a href="">
                    <img src="{{ asset('images/carousel/stock-en.png') }}" alt="Менеджер задач"/>
                </a>
            </div>
        </div>
    </div>
</div>
