<div {{ attributes.defaults(stimulus_controller('carousel', { refreshInterval: 2500 })) }}>
    <div class="flex" data-action="mouseenter->carousel#prolong mouseleave->carousel#shorten">
        <div class="w-1/6">
            <div class="w-full">
                <div data-carousel-target="button" class="bg-neutral-300">
                    <button 
                    class="p-8" 
                    data-action="carousel#switch" 
                    data-carousel-index-param="0"
                    >Shipping offer </button>
                </div>
                <div data-carousel-target="button" class="bg-neutral-300">
                    <button 
                    class="p-8" 
                    data-action="carousel#switch" 
                    data-carousel-index-param="1"
                    >ProLiant 360 G7 </button>
                </div>
                <div data-carousel-target="button" class="bg-neutral-300">
                    <button 
                    class="p-8" 
                    data-action="carousel#switch" 
                    data-carousel-index-param="2"
                    >About us </button>
                </div>
            </div>
        </div>
    
        <div class="w-full">
            <div data-carousel-target="slide">
                <a href="">
                    <img src="{{ asset('images/carousel/Delivery-GREY.jpg') }}" alt="Менеджер задач"/>
                </a>
            </div>
            <div data-carousel-target="slide">
                <a href="">
                    <img src="{{ asset('images/carousel/Second-GREY.jpg') }}" alt="Менеджер задач"/>
                </a>
            </div>
            <div data-carousel-target="slide">
                <a href="">
                    <img src="{{ asset('images/carousel/First-FGREY.jpg') }}" alt="Менеджер задач"/>
                </a>
            </div>
        </div>
    </div>
</div>
