<div {{ attributes.defaults(stimulus_controller('cart')) }} data-action="buy:add@window->cart#add">
    <!-- component html -->
        <p>Shopping cart:</p>
        <p data-cart-target="figure">1000</p>
</div>
