<div {{ attributes.defaults(stimulus_controller('catalog')) }} class="hidden" 
    data-action="catalog-tree:revert@window->catalog#revert catalog-tree:update@window->catalog#update">
</div>
{# 
<div class="w-full pl-4">
    <div class="check_box flex items-center w-full h-16">
        <label class="check_cont flex h-full items-center">
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="check_cont flex h-full items-center">
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</div> #}

{# data-action="catalog:renew->catalog#renew catalog:loadProducts->catalog#loadProducts" #}