<div {{ attributes.defaults(stimulus_controller('catalog-tree')) }} data-action="catalog:renew@window->catalog-tree#renew catalog:loadProducts->catalog#loadProducts">
    <nav class="inline-block w-full bg-neutral-50 drop-shadow-2xl rounded-md text-nowrap text-base" data-action="click->catalog-tree#onClick" >
        <twig:NavMenu :categories="this.catalog" offset="3" />
    </nav>
</div>