<div{{ attributes }} class="w-1/4">
        <nav class="inline-block w-full bg-stone-200 border border-neutral-300 rounded-md shadow-xl">
            <ul class="text-base leading-[3.5rem]">
                
                <li>
                    <a href="" class="inline-block w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">Servers</a>
                </li>
                <li >
                    <a href="" class="inline-block w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">Storage</a>
                </li>
                <li >
                    <a href="" class="inline-block w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">Network Equipment</a>
                </li>
                <li>
                    <a href="" class="inline-block w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">Components</a>
                </li>
                <li>
                    <a href="" class="inline-block w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">Others</a>
                </li>
            </ul>
        </nav>
</div>
