<div {{ attributes.defaults(stimulus_controller('catalog')) }} class="w-1/4">
        <nav class="inline-block w-full bg-stone-200 border border-neutral-300 rounded-md shadow-xl">
            <ul data-action="click->catalog#onClick" class="text-base leading-[3.5rem]">
                {% for category in this.catalog %}
                    <li>
                        <button class="w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">
                            {{ category.name }}
                        </button>
                        {% if category.children is defined %}
                            <div class="hidden bg-stone-100">
                                {% for category in category.children %}
                                    <button class="w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">
                                        {{ category.name }}
                                    </button>
                                    {% if category.children is defined %}
                                        <div class="hidden">
                                            {% for category in category.children %}
                                                <button class="w-full pl-4 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300">
                                                    {{ category.name }}
                                                </button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
</div>
