<div {{ attributes.defaults(stimulus_controller('product')) }}>
    {{ dump(this.products)}}
    {%  for product in this.products %}
        <strong>{{  product.name    }}</strong>
    {% endfor %}
</div>
