<div {{ attributes }}>
    <button
    data-action="live#$render"
    >Generate a new number!</button>

    Generating a number between 0 and {{ max }}
    <strong>{{ this.randomNumber }}</strong>
</div>